body {
  font: bold 20px sans-serif;
}

.caption {
    text-align: center;
    margin: auto;
    color: midnightblue;
}

ol {
  padding: 10px;
  background-color: midnightblue;
  margin: 10px;
}

li {
  color: white;
  padding: 0.25em;
  list-style: none;
  border: 5px dotted white;
  border-radius: 5px;
  margin: 5px;
}
